<% @posts.each do |post| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to post.title, post %><br>
      <small class="author">Submitted <%= time_ago_in_words(post.created_at) %> by <%= post.user.email %></small>
    </h2>

  </div>
<% end %>
